<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<title>Widget View</title>
	<meta http-equiv="content-type" content="text/html; charset=iso-8859-1">
	<meta name="viewport" content="initial-scale=1.0, width=device-width, height=device-height, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico" >

	<link rel="stylesheet" href="../css/html-elements.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="../css/layout.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="../css/sidebar.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="../css/form-elements.css" type="text/css" media="screen, projection" />

	<link rel="stylesheet" href="../plugins/superfish/css/superfish.css" type="text/css"  media="screen, projection" />
	<link rel="stylesheet" href="../plugins/inettuts/inettuts.css"  type="text/css"  media="screen, projection" />
	<link rel="stylesheet" href="../plugins/fancybox/jquery.fancybox-1.3.4.css" type="text/css" media="screen, projection" />

	<link rel="stylesheet" href="../css/website.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="../css/handheld.css" type="text/css" media="handheld" />	
	<link rel="stylesheet" href="../css/print.css" type="text/css" media="print" />
		  
  
	<!--[if IE 8]>
		<link rel="stylesheet" href="../css/ie_8.css" type="text/css" media="screen, projection" />
	<![endif]-->
	  
	<!--[if IE 7]>
		<link rel="stylesheet" href="../css/ie_7.css" type="text/css" media="screen, projection" />
	<![endif]-->
	  
	<!--[if IE 6]>
		<link rel="stylesheet" href="../css/ie_6.css" type="text/css" media="screen, projection" />
	<![endif]-->


</head>
<body class="fluid-layout">
<div id="wrapper" class="no-sidebars">
  <div id="wrapper-inner">
    
    <div id="header">
      <div id="header-inner">
        <div id="logo"><a href="index.html" title="Website Template"><img src="../images/image-logo.png" alt="image-logo"/></a></div> <!-- /#logo-->
        <h1>Template</h1>
	<div id="quick-login">
        	<ul>
        		<li class="item">Admin</li>
        		<li class="item"><a href="#" title="Login">Login</a></li>
        		<li class="item last"><a href="#" title="Logout">Logout</a></li>
        		
        	</ul>
        </div> <!-- /#quick-login-->
      </div> <!-- /#header-inner-->
    </div> <!-- /#header-->
    
    <div id="navigation">
      <div id="navigation-inner">        
		<ul class="sf-menu">	 
			    <li><a href="index.html">Dashboard</a>
			    </li>
			    <li><a href="javascript:void(0);">Fluid Layout</a>
			        <ul>
			            <li><a href="no-sidebars-tableless-fluid.html">No Sidebars</a></li>
			            <li><a href="sidebar-left-tableless-fluid.html">Sidebar Left</a></li>
			            <li><a href="sidebar-right-tableless-fluid.html">Sidebar Right</a></li>
			            <li><a href="two-sidebars-tableless-fluid.html">Two sidebar</a></li>
			        </ul>
			    </li>
			    
			    <li><a href="javascript:void(0);">Flxed Layout</a>
			        <ul>
			            <li><a href="no-sidebars-tableless-fixed.html">No Sidebars</a></li>
			            <li><a href="sidebar-left-tableless-fixed.html">Sidebar Left</a></li>
			            <li><a href="sidebar-right-tableless-fixed.html">Sidebar Right</a></li>
			            <li><a href="two-sidebars-tableless-fixed.html">Two sidebar</a></li>
			        </ul>
			    </li>
			</ul> <!-- ./sf-menu -->   
        
      </div> <!-- /#navigation-inner-->
    </div> <!-- /#navigation-->
    
    <div id="container">
      <div id="content" class="clearfix">
        <div id="content-inner">
          
          <div id="content-header">
            <div id="content-header-inner">
              <div id="breadcrumbs">
                <ul>
                  <li><a href="javascript:void(0);" title="Home">Home</a></li>
                  <li>&nbsp; >> &nbsp; Dashboard</li>
                </ul>
              </div>  <!-- /#breadcrumbs-->
                           
              <div id="content-title">
                <h1 class="title dashboard-logo">Dashboard</h1>
              </div>  <!-- /#content-title-->
              
            </div> <!-- /#content-header-inner-->
          </div> <!-- /#content-header-->
          
          <div id="content-area">
            <div id="content-area-inner">
                <div id="columns">
        
						  <ul id="column1" class="column">
								<li class="widget color-green" id="intro">
								    <div class="widget-head">
								        <h3>Introduction Widget</h3>
								    </div>
								    <div class="widget-content">

								        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam magna sem, fringilla in, commodo a, rutrum ut, massa. Donec id nibh eu dui auctor tempor. Morbi laoreet eleifend dolor. Suspendisse pede odio, accumsan vitae, auctor non, suscipit at, ipsum. Cras varius sapien vel lectus.</p>
								    </div>
								</li>
								<li class="widget color-red">  
								    <div class="widget-head">
								        <h3>Widget title</h3>
								        <div class="details">consectetuer adipiscing elit.</div>
								    </div>
								    <div class="widget-content">

								        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam magna sem, fringilla in, commodo a, rutrum ut, massa. Donec id nibh eu dui auctor tempor. Morbi laoreet eleifend dolor. Suspendisse pede odio, accumsan vitae, auctor non, suscipit at, ipsum. Cras varius sapien vel lectus.</p>
								    </div>
								</li>
						  </ul>  <!-- /#column1 /.column-->

						  <ul id="column2" class="column">
								<li class="widget color-blue">  
								    <div class="widget-head">
								        <h3>Merchants</h3>
											<div class="details">(320)</div>
								    </div>
								    <div class="widget-content">
								        <div id="result">
											 <table border="0" cellpadding="0" cellspacing="0" width="100%">
												<thead>
												  <tr>
												    <th width="56">Thumb</th>
												    <th>Name & Location</th>
												    <th>Type(LOB)</th>
												    <th>Owner</th>
												  </tr>
												</thead>
												<tbody>
												  <tr>
												    <td><a href="javascript:void(0);" title="Gift City"><img src="../images/icon/elephanti_merchant.png" alt="Gift City" /></a></td>
												    <td><a href="javascript:void(0);" title="Gift City">Gift City</a></br><span class="sub-info">Colombo, Sri Lanka</span></td>
												    <td>Single Store <span class="sub-info">(Kids & Toys)</span></td>
												    <td>
												    	Chamil Sirisena<br /><span class="sub-info">(chamil@mail.com)<span>
												    </td>
												  </tr>
												  <tr class="even">
												    <td><a href="javascript:void(0);" title="Fashion Menia"><img src="../images/icon/elephanti_merchant.png" alt="Fashion Menia" /></a></td>
												    <td><a href="javascript:void(0);" title="Fashion Menia">Fashion Menia</a></br><span class="sub-info">Colombo, Sri Lanka</a></span></td>
												    <td>Single Store <span class="sub-info">(Men's Fashion)</span></td>
												    <td>
												    	Nihal Silva <br /><span class="sub-info">(nihal@mail.com)<span>
												    </td>
												  </tr>
												  <tr>
												    <td><a href="javascript:void(0);" title="Koffe Hut"><img src="../images/icon/elephanti_merchant.png" alt="Koffe Hut" /></a></td>
												    <td><a href="javascript:void(0);" title="Koffe Hut">Koffe Hut</a></br><span class="sub-info">Kollupitiya, Sri Lanka</span></td>
												    <td>Mall</span></td>
												    <td>
												    	Nihal Pinto <br /><span class="sub-info">(npinto@mail.com)<span>
												    </td>
												  </tr>
												  <tr class="even">
												    <td><a href="javascript:void(0);" title="Ice Cube"><img src="../images/icon/elephanti_merchant.png" alt="Ice Cube" /></a></td>
												    <td><a href="javascript:void(0);" title="Ice Cube">Ice Cube</a></br><span class="sub-info">Kadawatha, Sri Lanka</span></td>
												    <td>Single Store <br /><span class="sub-info">(Entertainment)</span></td>
												    <td>
												    	Keneth De Zoysa <span class="sub-info">(keneth@mail.com)<span>
												    </td>
												  </tr>
												  <tr>
												    <td><a href="javascript:void(0);" title="Supul's Collection"><img src="../images/icon/elephanti_merchant.png" alt="Supul's Collection" /></a></td>
												    <td><a href="javascript:void(0);" title="Ice Cube">Supul's Collection</a></br><span class="sub-info">Battaramulla, Sri Lanka</span></td>
												    <td>Department Store</span></td>
												    <td>
												    	Sulpul Gunarathne <br /><span class="sub-info">(supul@mail.com)<span>
												    </td>
												  </tr>
												  <tr class="even">
												    <td><a href="javascript:void(0);" title="Dilli's Dining"><img src="../images/icon/elephanti_merchant.png" alt="Dilli's Dining" /></a></td>
												    <td><a href="javascript:void(0);" title="Dilli's Dining">Dilli's Dining</a></br><span class="sub-info">Colombo, Sri Lanka</span></td>
												    <td>Single Store <span class="sub-info">(Dining)</span></td>
												    <td>
												    	Sarath Adhikari <br /><span class="sub-info">(dilli@mail.com)<span>
												    </td>
												  </tr>
												</tbody>
											 </table>
										  </div> <!-- /#result-->
										  <div class="view-more"><a href="javascript:void(0);" title="View more">more &raquo; </a></div>
								    </div>
								</li>
								<li class="widget color-yellow">  
								    <div class="widget-head">
								        <h3>Tasks</h3>
										  <div class="details">(4)</div>
								    </div>
								    <div class="widget-content">
								        <div id="result">
											 <table border="0" cellpadding="0" cellspacing="0" width="100%">
												<thead>
												  <tr>
												    <th>ID</th>
												    <th>Item 1</th>
												    <th>Item 2</th>
												    <th colspan="3" width="10%">Action</th>
												  </tr>
												</thead>
												<tbody>
												  <tr>
												    <td>1</td>
												    <td>sdsd</td>
												    <td>dfdklj</td>
												    <td class="action"><a href="javascript:void(0);" class="edit" title="Edit"><img src="../images/icon/task_edit.png" alt="Edit" /></a></td>
												    <td class="action"><a href="javascript:void(0);" class="view" title="View"><img src="../images/icon/task_view.png" alt="View" /></a>
												    <td class="action"><a href="popup.html" class="various33" title="Add Related Task"><img src="../images/icon/task_related.png" alt="Related Task" /></a>
												    </td>
												  </tr>  
												  <tr class="even">
												    <td>2</td>
												    <td>sdsd</td>
												    <td>dfdklj</td>
												    <td class="action"><a href="javascript:void(0);" class="edit" title="Edit"><img src="../images/icon/task_edit.png" alt="Edit" /></a></td>
												    <td class="action"><a href="javascript:void(0);" class="view" title="View"><img src="../images/icon/task_view.png" alt="View" /></a>
												    <td class="action"><a href="popup.html" class="various33" title="Add Related Task"><img src="../images/icon/task_related.png" alt="Related Task" /></a>
												    </td>
												  </tr>
												  <tr>
												    <td>3</td>
												    <td>sdsd</td>
												    <td>dfdklj</td>
												    <td class="action"><a href="javascript:void(0);" class="edit" title="Edit"><img src="../images/icon/task_edit.png" alt="Edit" /></a></td>
												    <td class="action"><a href="javascript:void(0);" class="view" title="View"><img src="../images/icon/task_view.png" alt="View" /></a>
												    <td class="action"><a href="popup.html" class="various33" title="Add Related Task"><img src="../images/icon/task_related.png" alt="Related Task" /></a>
												    </td>
												  </tr>
												  <tr class="even">
												    <td>4</td>
												    <td>sdsd</td>
												    <td>dfdklj</td>
												    <td class="action"><a href="javascript:void(0);" class="edit" title="Edit"><img src="../images/icon/task_edit.png" alt="Edit" /></a></td>
												    <td class="action"><a href="javascript:void(0);" class="view" title="View"><img src="../images/icon/task_view.png" alt="View" /></a>
												    <td class="action"><a href="popup.html" class="various33"  title="Add Related Task"><img src="../images/icon/task_related.png" alt="Related Task" /></a> </td>
												  </tr>
												  <tr>
												    <td>5</td>
												    <td>sdsd</td>
												    <td>dfdklj</td>
												    <td class="action"><a href="javascript:void(0);" class="edit" title="Edit"><img src="../images/icon/task_edit.png" alt="Edit" /></a></td>
												    <td class="action"><a href="javascript:void(0);" class="view" title="View"><img src="../images/icon/task_view.png" alt="View" /></a>
												    <td class="action"><a href="popup.html" class="various33"  title="Add Related Task"><img src="../images/icon/task_related.png" alt="Related Task" /></a> </td>
												  </tr>
												  <tr class="even">
												    <td>6</td>
												    <td>sdsd</td>
												    <td>dfdklj</td>
												    <td class="action"><a href="javascript:void(0);" class="edit" title="Edit"><img src="../images/icon/task_edit.png" alt="Edit" /></a></td>
												    <td class="action"><a href="javascript:void(0);" class="view" title="View"><img src="../images/icon/task_view.png" alt="View" /></a>
												    <td class="action"><a href="popup.html" class="various33" title="Add Related Task"><img src="../images/icon/task_related.png" alt="Related Task" /></a>
												    </td>
												  </tr>
												</tbody>
											 </table>
										  </div> <!-- /#result-->
										  <div class="view-more"><a href="javascript:void(0);" title="View more">more &raquo; </a></div>
								    </div>
								</li>
						  </ul>  <!-- /#column2 /.column-->
						  
						  <ul id="column3" class="column">
								<li class="widget color-orange">  
								    <div class="widget-head">

								        <h3>Users</h3>
								        <div class="details">(324)</div>
								    </div>
								    <div class="widget-content">
								        <div id="result">
											 <table border="0" cellpadding="0" cellspacing="0" width="100%">
												<thead>
												  <tr>
												    <th width="56">Thumb</th>
												    <th>Name & Location</th>
												    <th>Email</th>
												  </tr>
												</thead>
												<tbody>
												  <tr>
												    <td><a href="javascript:void(0);" title="Amila Zoyza"><img src="../images/icon/elephanti_user.png" alt="Amila Zoyza" /></a></td>
												    <td><a href="javascript:void(0);" title="Amila Zoyza">Amila Zoyza</a></br><span class="sub-info">Colombo, Sri Lanka</span></td>
												    <td>amila@mail.com</td>
												  </tr>
												  <tr class="even">
												    <td><a href="javascript:void(0);" title="Tony Muru"><img src="../images/icon/elephanti_user.png" alt="Tony Muru" /></a></td>
												    <td><a href="javascript:void(0);" title="Tony Muru">Tony Muru</a></br><span class="sub-info">Nirobi, Nigeria</span></td>
												    <td>tonym@mail.com</td>
												  </tr>
												  <tr>
												    <td><a href="javascript:void(0);" title="Sam Neil Zusa"><img src="../images/icon/elephanti_user.png" alt="Sam Neil Zusa" /></a></td>
												    <td><a href="javascript:void(0);" title="Sam Neil Zusa">Sam Neil Zusa</a></br><span class="sub-info">Dalla, Texas</span></td>
												    <td>sam.zusa@mail.com</td>
												  </tr>
												  <tr class="even">
												    <td><a href="javascript:void(0);" title="Kamal Alwis"><img src="../images/icon/elephanti_user.png" alt="Kamal Alwis" /></a></td>
												    <td><a href="javascript:void(0);" title="Kamal Alwis">Kamal Alwis</a></br><span class="sub-info">Tronto, Canada</span></td>
												    <td>kalwis@mail.com</td>
												  </tr>
												  <tr>
												    <td><a href="javascript:void(0);" title="Ross Taylor"><img src="../images/icon/elephanti_user.png" alt="Ross Taylor" /></a></td>
												    <td><a href="javascript:void(0);" title="Ross Taylor">Ross Taylor</a></br><span class="sub-info">New York, USA</span></td>
												    <td>rtaylor@mail.com</td>
												  </tr>
												  <tr class="even">
													<td><a href="javascript:void(0);" title="Cavan Rees"><img src="../images/icon/elephanti_user.png" alt="Cavan Rees" /></a></td>
												    <td><a href="javascript:void(0);" title="Cavan Rees">Cavan Rees</a></br><span class="sub-info">Kandy, Sri Lanka</span></td>
												    <td>cavan.rees@mail.com</td>
												  </tr>
												</tbody>
											 </table>
										  </div> <!-- /#result-->
										  <div class="view-more"><a href="javascript:void(0);" title="View more">more &raquo; </a></div>
								</li>
								<li class="widget color-white">  
								    <div class="widget-head">

								        <h3>Complaints</h3>
								        <div class="details"> (7)</div>
								    </div>
								    
								    <div class="widget-content">
								        <div id="result">
											 <table border="0" cellpadding="0" cellspacing="0" width="100%">
												<thead>
												  <tr>
												    <th>ID</th>
												    <th>Item 1</th>
												    <th>Item 2</th>
												    <th colspan="2" width="10%">Action</th>
												  </tr>
												</thead>
												<tbody>
												  <tr>
												    <td>1</td>
												    <td>sdsd</td>
												    <td>dfdklj</td>
												    <td class="action">
												    	<a href="javascript:void(0);" class="edit" title="Edit"><img src="../images/icon/abuse_edit.png" alt="Edit" /></a></td>
												    <td class="action"><a href="javascript:void(0);" class="view" title="View"><img src="../images/icon/abuse_view.png" alt="View" /></a>
												    </td>
												  </tr>
												  <tr class="even">
												    <td>2</td>
												    <td>sdsd</td>
												    <td>dfdklj</td>
												    <td class="action">
												    	<a href="javascript:void(0);" class="edit" title="Edit"><img src="../images/icon/abuse_edit.png" alt="Edit" /></a></td>
												    <td class="action"><a href="javascript:void(0);" class="view" title="View"><img src="../images/icon/abuse_view.png" alt="View" /></a>
												    </td>
												  </tr>
												  <tr>
												    <td>3</td>
												    <td>sdsd</td>
												    <td>dfdklj</td>
												    <td class="action">
												    	<a href="javascript:void(0);" class="edit" title="Edit"><img src="../images/icon/abuse_edit.png" alt="Edit" /></a></td>
												    <td class="action"><a href="javascript:void(0);" class="view" title="View"><img src="../images/icon/abuse_view.png" alt="View" /></a>
												    </td>
												  </tr>
												  <tr class="even">
												    <td>4</td>
												    <td>sdsd</td>
												    <td>dfdklj</td>
												    <td class="action">
												    	<a href="javascript:void(0);" class="edit" title="Edit"><img src="../images/icon/abuse_edit.png" alt="Edit" /></a></td>
												    <td class="action"><a href="javascript:void(0);" class="view" title="View"><img src="../images/icon/abuse_view.png" alt="View" /></a>
												    </td>
												  </tr>
												  <tr>
												    <td>5</td>
												    <td>dsdsd dsdd</td>
												    <td>dfdklj</td>
												    <td class="action">
												    	<a href="javascript:void(0);" class="edit" title="Edit"><img src="../images/icon/abuse_edit.png" alt="Edit" /></a></td>
												    <td class="action"><a href="javascript:void(0);" class="view" title="View"><img src="../images/icon/abuse_view.png" alt="View" /></a>
												    </td>
												  </tr>
												  <tr class="even">
												    <td>6</td>
												    <td>df t</td>
												    <td>dsfdf</td>
												    <td class="action">
												    	<a href="javascript:void(0);" class="edit" title="Edit"><img src="../images/icon/abuse_edit.png" alt="Edit" /></a></td>
												    <td class="action"><a href="javascript:void(0);" class="view" title="View"><img src="../images/icon/abuse_view.png" alt="View" /></a>
												    </td>
												  </tr>
												  <tr>
												    <td>7</td>
												    <td>ddfdsfd</td>												    
												    <td>fgfgyy6</td>
												    <td class="action">
												    	<a href="javascript:void(0);" class="edit" title="Edit"><img src="../images/icon/abuse_edit.png" alt="Edit" /></a></td>
												    <td class="action"><a href="javascript:void(0);" class="view" title="View"><img src="../images/icon/abuse_view.png" alt="View" /></a>
												    </td>
												  </tr>
												  <tr class="even">
												    <td>8</td>
												    <td>ererwer</td>
												    <td>fgfgyy6</td>
												    <td class="action">
												    	<a href="javascript:void(0);" class="edit" title="Edit"><img src="../images/icon/abuse_edit.png" alt="Edit" /></a></td>
												    <td class="action"><a href="javascript:void(0);" class="view" title="View"><img src="../images/icon/abuse_view.png" alt="View" /></a>
												    </td>
												  </tr>
												  <tr>
												    <td>9</td>
												    <td>yjytytyt</td>
												    <td>lfk;lk</td>
												    <td class="action">
												    	<a href="javascript:void(0);" class="edit" title="Edit"><img src="../images/icon/abuse_edit.png" alt="Edit" /></a></td>
												    <td class="action"><a href="javascript:void(0);" class="view" title="View"><img src="../images/icon/abuse_view.png" alt="View" /></a>
												    </td>
												  </tr>
												</tbody>
											 </table>
										  </div> <!-- /#result-->
										  <div class="view-more"><a href="javascript:void(0);" title="View more">more &raquo; </a></div>
								    </div>
								</li>
								
						  </ul>  <!-- /#column3 /.column-->
						  
					 </div>  <!-- /#columns-->

            </div> <!-- /#content-area-inner-->
          </div> <!-- /#content-area-->
          
          <div id="content-bottom">
            <div id="content-bottom-inner">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus rhoncus auctor ullamcorper. Sed a eleifend mi. Nunc sodales volutpat lorem, a cursus neque sagittis in. Mauris at semper libero. Praesent sollicitudin eros a lorem consectetur gravida. Integer convallis sagittis dolor sit amet aliquam. Nullam enim purus, dapibus et congue eget, accumsan sed odio.</p>
              
            </div> <!-- /#content-bottom-inner-->
          </div> <!-- /#content-bottom-->
          
        </div> <!-- /#content-inner-->  
      </div> <!-- /#content-->
    </div> <!-- /#container-->
   
    <div id="footer">
      <div id="footer-inner">
        
        <div id="copyright">
          <p>&copy; <a href="javascript:void(0);" title="Website">Website</a> 2012, All Rights Reserved.</p>
        </div> <!-- /#copyright-->
        
        <div id="secondary">
          <div id="secondary-inner">
            <ul>
              <li class="item first"><a href="javascript:void(0);" title="FAQ">FAQ</a></li>
              <li class="item"><a href="javascript:void(0);" title="Help">Help</a></li>
              <li class="item"><a href="javascript:void(0);" title="Terms &amp; Conditions">Terms &amp; Conditions</a></li>
              <li class="item"><a href="javascript:void(0);" title="Privacy Policy">Privacy Policy</a></li>
              <li class="item last"><a href="javascript:void(0);" title="Site Map">Site Map</a></li>
            </ul>
          </div> <!-- /#secondary-inner-->         
        </div> <!-- /#secondary-->
        
      </div> <!-- /#footer-inner-->
    </div> <!-- /#footer-->
    
  </div> <!-- /#wrapper-inner-->
</div> <!-- /#wrapper /.no-sidebars-->

	<!-- loading the jquery javascript libraries -->	
   <script type="text/javascript" src="../plugins/jquery/jquery.min.js"></script>
   
	<!-- loading the superfish menu javascript libraries -->   
	<script type="text/javascript" src="../plugins/superfish/js/hoverIntent.js"></script>
	<script type="text/javascript" src="../plugins/superfish/js/superfish.js"></script>
	<script type="text/javascript">
		// initialise plugins
		jQuery(function(){
			jQuery('ul.sf-menu').superfish();
		});
	</script>
	
	<!-- loading the widget javascript libraries -->
   <script type="text/javascript" src="../plugins/inettuts/inettuts.js"></script>	
   
   <!-- loading the fancybox popup javascript libraries -->
	<script type="text/javascript" src="../plugins/fancybox/jquery.mousewheel-3.0.4.pack.js"></script>  
   <script type="text/javascript" src="../plugins/fancybox/jquery.fancybox-1.3.4.pack.js"></script>  
   <script type="text/javascript" src="../plugins/fancybox/fancy_popup.js"></script>
   
	<!-- loading the mobile browser detection javascript libraries -->   
   <script type="text/javascript" src="../plugins/jquery/jquery.browser.mobile.js"></script>
  	<!-- loading the mobile browser orientation detection javascript libraries -->
   <script type="text/javascript" src="../js/window.orientation.js"></script>
   
</body>
</html>
