<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en">
<head>
<title>No Sidebars Tableless Fixed layout</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="initial-scale=1.0, width=device-width, height=device-height, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico" >

	<link rel="stylesheet" href="../css/html-elements.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="../css/layout.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="../css/sidebar.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="../css/form-elements.css" type="text/css" media="screen, projection" />

	<link rel="stylesheet" href="../plugins/superfish/css/superfish.css" type="text/css"  media="screen, projection" />

	<link rel="stylesheet" href="../css/website.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="../css/handheld.css" type="text/css" media="handheld" />	
	<link rel="stylesheet" href="../css/print.css" type="text/css" media="print" />
		  
  
	<!--[if IE 8]>
		<link rel="stylesheet" href="../css/ie_8.css" type="text/css" media="screen, projection" />
	<![endif]-->
	  
	<!--[if IE 7]>
		<link rel="stylesheet" href="../css/ie_7.css" type="text/css" media="screen, projection" />
	<![endif]-->
	  
	<!--[if IE 6]>
		<link rel="stylesheet" href="../css/ie_6.css" type="text/css" media="screen, projection" />
	<![endif]-->

</head>
<body class="fixed-layout">
<div id="wrapper" class="no-sidebars">
  <div id="wrapper-inner">
    
    <div id="header">
      <div id="header-inner">
        <div id="logo"><a href="index.html" title="Website Template"><img src="../images/image-logo.png" alt="image-logo"/></a></div> <!-- /#logo-->
        <h1>Template</h1>
	<div id="quick-login">
        	<ul>
        		<li class="item">Admin</li>
        		<li class="item"><a href="#" title="Login">Login</a></li>
        		<li class="item last"><a href="#" title="Logout">Logout</a></li>
        		
        	</ul>
        </div> <!-- /#quick-login-->
      </div> <!-- /#header-inner-->
    </div> <!-- /#header-->
    
    <div id="navigation">
      <div id="navigation-inner">        
		<ul class="sf-menu">	 
			    <li><a href="index.html">Dashboard</a>
			    </li>
			    <li><a href="javascript:void(0);">Fluid Layout</a>
			        <ul>
			            <li><a href="no-sidebars-tableless-fluid.html">No Sidebars</a></li>
			            <li><a href="sidebar-left-tableless-fluid.html">Sidebar Left</a></li>
			            <li><a href="sidebar-right-tableless-fluid.html">Sidebar Right</a></li>
			            <li><a href="two-sidebars-tableless-fluid.html">Two sidebar</a></li>
			        </ul>
			    </li>
			    
			    <li><a href="javascript:void(0);">Flxed Layout</a>
			        <ul>
			            <li><a href="no-sidebars-tableless-fixed.html">No Sidebars</a></li>
			            <li><a href="sidebar-left-tableless-fixed.html">Sidebar Left</a></li>
			            <li><a href="sidebar-right-tableless-fixed.html">Sidebar Right</a></li>
			            <li><a href="two-sidebars-tableless-fixed.html">Two sidebar</a></li>
			        </ul>
			    </li>
			</ul> <!-- ./sf-menu -->   
        
      </div> <!-- /#navigation-inner-->
    </div> <!-- /#navigation-->
    
    <div id="container">
      <div id="content" class="clearfix">
        <div id="content-inner">
          
          <div id="content-header">
            <div id="content-header-inner">
              <div id="breadcrumbs">
                <ul>
                  <li><a href="javascript:void(0);" title="Home">Home</a></li>
                  <li>&nbsp; >> &nbsp; Content</li>
                </ul>
              </div>  <!-- /#breadcrumbs-->
              
              <div id="content-title">
                <h1 class="title">Main Content</h1>
              </div>  <!-- /#content-title-->
              
            </div> <!-- /#content-header-inner-->
          </div> <!-- /#content-header-->
          
          <div id="content-area">
            <div id="content-area-inner">
              <p><strong>Content here.</strong> column long long column very long fill fill fill long text text column text silly very make long very fill silly make make long make text fill very long text column silly silly very column long very column filler fill long make filler long silly very long silly silly silly long filler make column filler make silly long long fill very.</p>
              <p>very make make fill silly long long filler column long make silly silly column filler fill fill very filler text fill filler column make fill make text very make make very fill fill long make very filler column very long very filler silly very make filler silly make make column column </p>
              <p>fill long make long text very make long fill column make text very silly column filler silly text fill text filler filler filler make make make make text filler fill column filler make silly make text text fill make very filler column very </p>
              <p>column text long column make silly long text filler silly very very very long filler fill very fill silly very make make filler text filler text make silly text text long fill fill make text fill long text very silly long long filler filler fill silly long make column make silly long column long make very </p>
            </div> <!-- /#content-area-inner-->
          </div> <!-- /#content-area-->
          
          <div id="content-bottom">
            <div id="content-bottom-inner">
              <p><strong>Content Bottom.</strong> column long long column very long fill fill fill long text text column text silly very make long very fill silly make make long make text fill very long text column silly silly very column long very column filler fill long make filler long silly very long silly silly silly long filler make column filler make silly long long fill very.</p>
              <p>very make make fill silly long long filler column long make silly silly column filler fill fill very filler text fill filler column make fill make text very make make very fill fill long make very filler column very long very filler silly very make filler silly make make column column </p>
              
            </div> <!-- /#content-bottom-inner-->
          </div> <!-- /#content-bottom-->
          
        </div> <!-- /#content-inner-->  
      </div> <!-- /#content-->
    </div> <!-- /#container-->
   
    <div id="footer">
      <div id="footer-inner">
        
        <div id="copyright">
          <p>&copy; <a href="javascript:void(0);" title="Website">Website</a> 2012, All Rights Reserved.</p>
        </div> <!-- /#copyright-->
        
        <div id="secondary">
          <div id="secondary-inner">
            <ul>
              <li class="item first"><a href="javascript:void(0);" title="FAQ">FAQ</a></li>
              <li class="item"><a href="javascript:void(0);" title="Help">Help</a></li>
              <li class="item"><a href="javascript:void(0);" title="Terms & Conditions">Terms & Conditions</a></li>
              <li class="item"><a href="javascript:void(0);" title="Privacy Policy">Privacy Policy</a></li>
              <li class="item last"><a href="javascript:void(0);" title="Site Map">Site Map</a></li>
            </ul>
          </div> <!-- /#secondary-inner-->         
        </div> <!-- /#secondary-->
        
      </div> <!-- /#footer-inner-->
    </div> <!-- /#footer-->
    
  </div> <!-- /#wrapper-inner-->
</div> <!-- /#wrapper /.no-sidebars-->

	<!-- loading the jquery javascript libraries -->	
   <script type="text/javascript" src="../plugins/jquery/jquery.min.js"></script>
   
	<!-- loading the superfish menu javascript libraries -->   
	<script type="text/javascript" src="../plugins/superfish/js/hoverIntent.js"></script>
	<script type="text/javascript" src="../plugins/superfish/js/superfish.js"></script>
	<script type="text/javascript">
		// initialise plugins
		jQuery(function(){
			jQuery('ul.sf-menu').superfish();
		});
	</script>
   
	<!-- loading the mobile browser detection javascript libraries -->   
   <script type="text/javascript" src="../plugins/jquery/jquery.browser.mobile.js"></script>
  	<!-- loading the mobile browser orientation detection javascript libraries -->
   <script type="text/javascript" src="../js/window.orientation.js"></script>

</body>
</html>
