<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>No Sidebars Tableless fluid layout</title>
	<meta http-equiv="content-type" content="text/html; charset=iso-8859-1">
	<meta name="viewport" content="initial-scale=1.0, width=device-width, height=device-height, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico" >

	<link rel="stylesheet" href="../css/html-elements.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="../css/form-elements.css" type="text/css" media="screen, projection" />

	<link rel="stylesheet" href="../css/website-popup.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="../css/print-popup.css" type="text/css" media="print" />
	  
	<!--[if IE 8]>
		<link rel="stylesheet" href="../css/ie_8.css" type="text/css" media="screen, projection" />
	<![endif]-->
	  
	<!--[if IE 7]>
		<link rel="stylesheet" href="../css/ie_7.css" type="text/css" media="screen, projection" />
	<![endif]-->
	  
	<!--[if IE 6]>
		<link rel="stylesheet" href="../css/ie_6.css" type="text/css" media="screen, projection" />
	<![endif]-->

</head>
<body>
<div id="wrapper">
  <div id="wrapper-inner">
    
    <div id="header" class="clearfix">
      <div id="header-inner">
        <div id="logo"><a href="index.html" title="Website Template"><img src="../images/image-logo.png" alt="image-logo"/></a></div> <!-- /#logo-->
        <h1>Template</h1>

      </div> <!-- /#header-inner-->
    </div> <!-- /#header-->
        
    <div id="container">
      <div id="content" class="clearfix">
        <div id="content-inner">
          
          <div id="content-header">
            <div id="content-header-inner">
              
              <div id="content-title">
                <h1 class="title task-logo">Main Content</h1>
              </div>  <!-- /#content-title-->
              
	      <div class="button-panel">
		<div class="button main left">
			<a href="javascript:void(0);" title="Add New" >Add New</a> 	
		</div>  <!-- /.button .main .left-->
		
		<div class="button normal right">
			<a href="javascript:void(0);" title="Cancel" >Cancel</a> 	
		</div>  <!-- /.button .main .right-->
	      </div>  <!-- /.button-panel-->	      
	      
            </div> <!-- /#content-header-inner-->
          </div> <!-- /#content-header-->
          
          <div id="content-area">
            <div id="content-area-inner">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus rhoncus auctor ullamcorper. Sed a eleifend mi. Nunc sodales volutpat lorem, a cursus neque sagittis in. Nullam enim purus, dapibus et congue eget, accumsan sed odio.</p>
              
              <h3>Toolip sample</h3>           
              <p>Here are some examples of a <a class="tooltip" href="#">Help<span class="custom help"><em>Help</em>This is just an example of what you can do using a CSS tooltip, feel free to get creative and produce your own!</span></a> and <a class="tooltip" href="#">Simple<span class="custom simple"><em>Simple</em>This is just an example of what you can do using a CSS tooltip, feel free to get creative and produce your own!</span></a> CSS powered tooltip. This is just an example of what you can do so feel free to get creative and produce your own!</p>
              
              
				<p> volutpat ante leo, sollicitudin bibendum purus. Phasellus varius, ligula vel ornare porta, massa neque molestie felis, nec placerat eros felis et dolor. Nullam tincidunt leo eget erat ornare id mollis tortor hendrerit. </p>
              <h3>Tabular result set</h3>
              	
		<div class="pagination">
			<span class="active"><b>1</b></span>&nbsp;
			<a href="javascript:void(0);">2</a>&nbsp;
			<a href="javascript:void(0);">3</a>
			<span class="next"><a href="javascript:void(0);">&gt;</a></span>&nbsp;
			<a href="javascript:void(0);"><span class="last">Last</span></a>
		</div>
	      
	      <div class="result">
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Item 1</th>
                      <th>Item 2</th>
                      <th>Item 3</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th colspan="4">Total</th>
                      <th>Result</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>sdsd</td>
                      <td>dfdklj</td>
                      <td>lfk;lk</td>
                      <td>;k;lk</td>
                    </tr>
                    <tr class="even">
                      <td>2</td>
                      <td>sdsd</td>
                      <td>dfdklj</td>
                      <td>lfk;lk</td>
                      <td>;k;lk</td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td>sdsd</td>
                      <td>dfdklj</td>
                      <td>lfk;lk</td>
                      <td>;k;lk</td>
                    </tr>
                    <tr class="even">
                      <td>4</td>
                      <td>sdsd</td>
                      <td>dfdklj</td>
                      <td>lfk;lk</td>
                      <td>;k;lk</td>
                    </tr>
                    <tr>
                      <td>5</td>
                      <td>sdsd</td>
                      <td>dfdklj</td>
                      <td>lfk fklk</td>
                      <td>dfdgfn</td>
                    </tr>
                  </tbody>
                </table>
              </div> <!-- /.result-->
              
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus rhoncus auctor ullamcorper. Sed a eleifend mi. Nunc sodales volutpat lorem, a cursus neque sagittis in. Mauris at semper libero. Praesent sollicitudin eros a lorem consectetur gravida. Integer convallis sagittis dolor sit amet aliquam. Nullam enim purus, dapibus et congue eget, accumsan sed odio.</p>

				<p> volutpat ante leo, sollicitudin bibendum purus. Phasellus varius, ligula vel ornare porta, massa neque molestie felis, nec placerat eros felis et dolor. Vivamus risus neque, tristique vitae luctus elementum, tristique non sem. Integer viverra dolor et mauris sollicitudin vitae convallis orci gravida. Nullam a quam lectus. Proin in dui nec ipsum tincidunt tristique eget vitae dolor. Proin hendrerit pretium ipsum sollicitudin pretium. Cras elementum libero sit amet elit tincidunt blandit at at dui. Nullam tincidunt leo eget erat ornare id mollis tortor hendrerit. </p>
            </div> <!-- /#content-area-inner-->
          </div> <!-- /#content-area-->
          
          <div id="content-bottom">
            <div id="content-bottom-inner">
              <p> volutpat ante leo, sollicitudin bibendum purus. Phasellus varius, ligula vel ornare porta, massa neque molestie felis, nec placerat eros felis et dolor. Vivamus risus neque, tristique vitae luctus elementum, tristique non sem. Integer viverra dolor et mauris sollicitudin vitae convallis orci gravida. Nullam a quam lectus. Proin in dui nec ipsum tincidunt tristique eget vitae dolor. Proin hendrerit pretium ipsum sollicitudin pretium. Cras elementum libero sit amet elit tincidunt blandit at at dui. Nullam tincidunt leo eget erat ornare id mollis tortor hendrerit. </p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus rhoncus auctor ullamcorper. Sed a eleifend mi. Nunc sodales volutpat lorem, a cursus neque sagittis in. Mauris at semper libero. Praesent sollicitudin eros a lorem consectetur gravida. Integer convallis sagittis dolor sit amet aliquam. Nullam enim purus, dapibus et congue eget, accumsan sed odio.</p>
              
            </div> <!-- /#content-bottom-inner-->
          </div> <!-- /#content-bottom-->
          
        </div> <!-- /#content-inner-->  
      </div> <!-- /#content-->
    </div> <!-- /#container-->
   
    <div id="footer" class="clearfix">
      <div id="footer-inner">
        
        <div id="copyright">
          <p>&copy; <a href="javascript:void(0);" title="Website">Website</a> 2012, All Rights Reserved.</p>
        </div> <!-- /#copyright-->
               
      </div> <!-- /#footer-inner-->
    </div> <!-- /#footer-->
    
  </div> <!-- /#wrapper-inner-->
</div> <!-- /#wrapper -->

</body>
</html>
