<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>Sidebar Left Tableless fluid layout</title>
	<meta http-equiv="content-type" content="text/html; charset=iso-8859-1">
	<meta name="viewport" content="initial-scale=1.0, width=device-width, height=device-height, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico" >

	<link rel="stylesheet" href="../css/html-elements.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="../css/layout.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="../css/sidebar.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="../css/form-elements.css" type="text/css" media="screen, projection" />

	<link rel="stylesheet" href="../plugins/superfish/css/superfish.css" type="text/css"  media="screen, projection" />

	<link rel="stylesheet" href="../css/website.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="../css/handheld.css" type="text/css" media="handheld" />	
	<link rel="stylesheet" href="../css/print.css" type="text/css" media="print" />
		  
  
	<!--[if IE 8]>
		<link rel="stylesheet" href="../css/ie_8.css" type="text/css" media="screen, projection" />
	<![endif]-->
	  
	<!--[if IE 7]>
		<link rel="stylesheet" href="../css/ie_7.css" type="text/css" media="screen, projection" />
	<![endif]-->
	  
	<!--[if IE 6]>
		<link rel="stylesheet" href="../css/ie_6.css" type="text/css" media="screen, projection" />
	<![endif]-->


</head>
<body class="fluid-layout">
<div id="wrapper" class="sidebar-left">
  <div id="wrapper-inner">
    
    <div id="header">
      <div id="header-inner">
        <div id="logo"><a href="index.html" title="Website Template"><img src="../images/image-logo.png" alt="image-logo"/></a></div>
        <h1>Template</h1>
        <div id="quick-login">
        	<ul>
        		<li class="item">Admin</li>
        		<li class="item"><a href="" title="">Login</a></li>
        		<li class="item last"><a href="" title="">Logout</a></li>
        		
        	</ul>
        </div> <!-- /#quick-login-->
      </div> <!-- /#header-inner-->
    </div> <!-- /#header-->
    
     <div id="navigation">
      <div id="navigation-inner">        
		<ul class="sf-menu">	 
			    <li><a href="index.html">Dashboard</a>
			    </li>
			    <li><a href="javascript:void(0);">Fluid Layout</a>
			        <ul>
			            <li><a href="no-sidebars-tableless-fluid.html">No Sidebars</a></li>
			            <li><a href="sidebar-left-tableless-fluid.html">Sidebar Left</a></li>
			            <li><a href="sidebar-right-tableless-fluid.html">Sidebar Right</a></li>
			            <li><a href="two-sidebars-tableless-fluid.html">Two sidebar</a></li>
			        </ul>
			    </li>
			    
			    <li><a href="javascript:void(0);">Flxed Layout</a>
			        <ul>
			            <li><a href="no-sidebars-tableless-fixed.html">No Sidebars</a></li>
			            <li><a href="sidebar-left-tableless-fixed.html">Sidebar Left</a></li>
			            <li><a href="sidebar-right-tableless-fixed.html">Sidebar Right</a></li>
			            <li><a href="two-sidebars-tableless-fixed.html">Two sidebar</a></li>
			        </ul>
			    </li>
			</ul> <!-- ./sf-menu -->   
        
      </div> <!-- /#navigation-inner-->
    </div> <!-- /#navigation-->
    
    <div id="container">
      <div id="content" class="clearfix">
        <div id="content-inner">
          
          <div id="content-header">
            <div id="content-header-inner">
              <div id="breadcrumbs">
                <ul>
                  <li><a href="javascript:void(0);" title="Home">Home</a></li>
                  <li>&nbsp; >> &nbsp; Content</li>
                </ul>
              </div>  <!-- /#breadcrumbs-->
              
              <div id="content-title">
                <h1 class="title">Main Content</h1>
              </div>  <!-- /#content-title-->
              
            </div> <!-- /#content-header-inner-->
          </div> <!-- /#content-header-->
          
          <div id="content-area">
            <div id="content-area-inner">
              <p><strong>Content here.</strong> Nunc mollis sapien in ipsum viverra tincidunt. Duis id commodo mauris. Etiam ac mi in est fermentum hendrerit in et augue. Praesent nisl lacus, rhoncus non blandit at, feugiat non neque. In luctus viverra nibh. Nulla facilisi.</p>
              <p>very make make fill silly long long filler column long make silly silly column filler fill fill very filler text fill filler column make fill make text very make make very fill fill long make very filler column very long very filler silly very make filler silly make make column column </p>
              
              <div class="form-container">
                <form name="register" action="" method="post" >
                	<p class="legend"><strong>Note:</strong> Required fields are marked with an asterisk (<em>*</em>)</p>
                  <fieldset><legend>Basic info</legend>
                    <div class="form-item">
                    <label for="member_fname">Name <span class="req">*</span> : </label>
                    <div class="input-item" >
                      <span class="label-item">First Name</span><br />
                      <div> <input type="text" id="member_fname" name="member_fname" value="" tabindex="1" /> </div>
                      <span class="errorfield"></span>
                    </div>
                    <div class="input-item" >
                      <span class="label-item">Surname</span><br />
                      <div><input type="text" id="member_fnames" class="errorfield" name="member_fnames" value="" tabindex="2" /> <br />
                      <span class="errorfield">This value is required.</span>
                      </div>
                    </div>
                    
                    </div>
                    <div class="brake"></div>
                    <div class="form-item"><label for="member_lname">Surname <span class="req">*</span> : </label>
                    <div><input type="text" id="member_lname" name="member_lname" value="" tabindex="3" /></div>
                    <p class="note">Please provide your full name</p>
                    </div>
                    <div class="brake"></div>
                    <div class="form-item"><label for="member_dob">Date of Birth : </label>
                    <div><input type="text" id="member_dob" class="datetime" name="member_dob" value="" tabindex="4" /></div>
                    </div>
                    <div class="brake"></div>
                    <div class="form-item"><label for="member_mrital_status">Marital Status <span class="req">*</span> : </label>
                    <div><select name="member_mrital_status" id="member_mrital_status" tabindex="5" />
                        <option value="">select status</option>
                        <option value="Single">Single</option>
                        <option value="Married">Married</option>
                        <option value="Divorced">Divorced</option>
                    </select></div>
                    </div>
                    <div class="brake"></div>
                    <div class="form-item">
                        <label for="choice1">Choices :</label>
                    </div>
                    <div class="controlset">
                        <div>
                            <input type="checkbox" name="choice" value="" id="choice1"  tabindex="6" /><label for="choice1">Choice 1</label>
                            <input type="checkbox" name="choice" value="" id="choice2"  tabindex="7" /><label for="choice2">Choice 2</label>
                            <input type="checkbox" name="choice" value="" id="choice3"  tabindex="8" /><label for="choice3">Choice 3</label>
                            
                        </div>
                    </div>
                    <div class="brake"></div>
                    <div class="form-item">
                        <label for="choice">Eye Color :</label>
                    </div>
                    <div class="controlset">
                        <div>
                            <input type="radio" name="choice" value="" id="radchoice1"  tabindex="9" /><label for="radchoice1">Choice 1</label>
                            <input type="radio" name="choice" value="" id="radchoice2"  tabindex="10" /><label for="radchoice2">Choice 2</label>
                            <input type="radio" name="choice" value="" id="radchoice3"  tabindex="11" /><label for="radchoice3">Choice 3</label>  
                        </div>
                    </div>
                    <div class="brake"></div>
                  </fieldset>
                  
                  <fieldset><legend>Login</legend>
                      <div class="form-item"><label for="member_username">Username <span class="req">*</span> : </label>
                      <div><input type="text" id="member_username" name="member_username" value="" tabindex="12" /></div>
                      </div>
                      <div class="brake"></div>
                      <div class="form-item"><label for="member_password">Password <span class="req">*</span> : </label>
                      <div><input type="password" id="member_password" name="member_password" value="" tabindex="13" /></div>
                      </div>
                      <div class="brake"></div>
                      <div class="form-item"><label for="confirm_password">Confirm Password <span class="req">*</span> : </label>
                      <div><input type="password" id="confirm_password" name="confirm_password" value="" tabindex="14" /></div>
                      </div>
                      <div class="brake"></div>
                  </fieldset>
                  <div class="buttonrow">
                      <input type="submit" name="Submit" class="button main" value="Submit"  tabindex="15" />
                      <input type="reset" name="Reset" value="Reset" class="button normal" onclick="document.forms.register.reset();" tabindex="16" />
                  </div><!-- /.buttonrow -->
                </form>
              </div>  <!-- /.form-container -->
              <p>fill long make long text very make long fill column make text very silly column filler silly text fill text filler filler filler make make make make text filler fill column filler make silly make text text fill make very filler column very </p>
              <p>column text long column make silly long text filler silly very very very long filler fill very fill silly very make make filler text filler text make silly text text long fill fill make text fill long text very silly long long filler filler fill silly long make column make silly long column long make very </p>
            </div> <!-- /#content-area-inner-->
          </div> <!-- /#content-area-->
          
          <div id="content-bottom">
            <div id="content-bottom-inner">
              <p><strong>Content Bottom.</strong> column long long column very long fill fill fill long text text column text silly very make long very fill silly make make long make text fill very long text column silly silly very column long very column filler fill long make filler long silly very long silly silly silly long filler make column filler make silly long long fill very.</p>
              <p>very make make fill silly long long filler column long make silly silly column filler fill fill very filler text fill filler column make fill make text very make make very fill fill long make very filler column very long very filler silly very make filler silly make make column column </p>
              
            </div> <!-- /#content-bottom-inner-->
          </div> <!-- /#content-bottom-->
          
        </div> <!-- /#content-inner-->  
      </div> <!-- /#content-->
    </div> <!-- /#container-->
    
    <div id="sidebar-left">
      <div id="sidebar-left-inner">
        <h2 class="title">Left Sidebar</h2>
        <p>long long fill filler very fill column column silly filler very filler text very make fill column text very column fill very silly column silly fill long filler </p>
        <ul>
          <li><a href="javascript:void(0);" title="Sub item 1">Sub item 1</a></li>
          <li><a href="javascript:void(0);" title="Sub item 2">Sub item 2</a></li>
          <li><a href="javascript:void(0);" title="Sub item 3">Sub item 3</a></li>
          <li><a href="javascript:void(0);" title="Sub item 4">Sub item 4</a></li>
        </ul>
      </div> <!-- /#sidebar-left-inner-->
    </div> <!-- /#sidebar-left-->
    
    <div id="footer">
      <div id="footer-inner">
        
        <div id="copyright">
          <p>&copy; <a href="javascript:void(0);" title="Website">Website</a> 2012, All Rights Reserved.</p>
        </div> <!-- /#copyright-->
        
        <div id="secondary">
          <div id="secondary-inner">
            <ul>
              <li class="item first"><a href="javascript:void(0);" title="FAQ">FAQ</a></li>
              <li class="item"><a href="javascript:void(0);" title="Help">Help</a></li>
              <li class="item"><a href="javascript:void(0);" title="Terms &amp; Conditions">Terms &amp; Conditions</a></li>
              <li class="item"><a href="javascript:void(0);" title="Privacy Policy">Privacy Policy</a></li>
              <li class="item last"><a href="javascript:void(0);" title="Site Map">Site Map</a></li>
            </ul>
          </div> <!-- /#secondary-inner-->         
        </div> <!-- /#secondary-->
        
      </div> <!-- /#footer-inner-->
    </div> <!-- /#footer-->
    
  </div> <!-- /#wrapper-inner-->
</div> <!-- /#wrapper  /.sidebar-left-->

	
	<!-- loading the jquery javascript libraries -->	
   <script type="text/javascript" src="../plugins/jquery/jquery.min.js"></script>
   
	<!-- loading the superfish menu javascript libraries -->   
	<script type="text/javascript" src="../plugins/superfish/js/hoverIntent.js"></script>
	<script type="text/javascript" src="../plugins/superfish/js/superfish.js"></script>
	<script type="text/javascript">
		// initialise plugins
		jQuery(function(){
			jQuery('ul.sf-menu').superfish();
		});
	</script>
   
	<!-- loading the mobile browser detection javascript libraries -->   
   <script type="text/javascript" src="../plugins/jquery/jquery.browser.mobile.js"></script>
  	<!-- loading the mobile browser orientation detection javascript libraries -->
   <script type="text/javascript" src="../js/window.orientation.js"></script>

</body>
</html>
